.blog-row {
    margin-bottom: 80px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .blog-row,
  .blog-row > .blog-column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .blog-column {
    float: left;
    width: 100%;
    display: none; /* Hide columns by default */
    margin-bottom: 10px;
    transition: .3s ease all;
  }
  
  /* Clear floats after rows */
  .blog-row:after {
    content: "";
    display: table;
    clear: both;
  }

.blog-title h1{
  margin-top: 30%;
  margin-bottom: 70px;
  text-shadow: none;
}
  
.block-white .blog-title {
  margin-bottom: 0;
}
 

  
  
  /* The "show" class is added to the filtered elements */
  .blog-show {
    display: block;
  }
  
  /* Style the buttons */
  .blog-btn {
    border: none;
    outline: none;
    padding: 12px 10px;
    background-color: inherit;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 0 10px 0;
    color: black;
  }
  
  /* Add a grey background color on mouse-over */
  .blog-btn:hover {
    background-color: #ddd;
    color: black;
  }
  
/* Add a dark background color to the active button */
.blog-btn.active {
    background-color: black;
     color: white;
}

.blog-button-list {
  text-align: center;
  border-radius: 5px;
  background-color: none;
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
  width: auto;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
}


.blog-button-list button {
  font-family: inherit;
  font-size: 1.2em;
  padding: 10px 20px 10px 20px;
  margin: none;
  border-radius: 5px;
  background-color: none;
}

.blog-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 70px;
}




.blog-content {
  flex-basis: 50%;
  position: relative;
  min-height: 400px;

}



.image-card {
  float: left;
  position: relative;
  width: 600px;
  height: 250px;
  margin: 0;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 0;
}

.blog-img {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}


.blog-img img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
 
}

.blog-content:hover .blog-img img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

a.blog-card-link {
  text-decoration: none;
  color: inherit;
}

a.blog-card-link:hover .card {
  background-color: #fafafa;
  color: black;
}


.blog-card-text {
  position: absolute;
  bottom: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  padding-top: 1em;
}

.blog-content:hover .blog-card-text {
  transform: translateY(-10px);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;

}

.blog-card-text h4 {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

.blog-card-text p {
  text-align: left;
  font-size: 14px;
  font-weight: 200;
  line-height: 16px;
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 0;
}

.blog-label-small {
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  line-height: 14px;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  vertical-align: bottom;
}

.blog-label-small img {
  height: 10px;
  display: inline;
  padding-right: 5px;
}


.blog-article-intro {
  margin-top: 200px;
  border-bottom: 1px solid #b2b2b2;
  
}

.blog-article-intro a{
  text-decoration: none;
  transition-duration: 0.5s;
  color: black;
  font-weight: 400;
  font-size: 1.4em;
}

.blog-article-intro a:hover{
  text-decoration: underline;
}

.blog-article-headline {
  text-align: center;
}

.blog-article-headline h1 {
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
  text-shadow: none;
}



.blog-article-headline p span {
  font-weight: 600;
}

.blog-container-text {
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
  margin-bottom: 70px;
}

.blog-container-text h2 {
  font-size: 32px;
  text-align: center;
  color: black;
  padding-top: 40px;
}

.blog-container-text p {
  font-size: 16px;
}

.blog-container-text img {
  padding-top: 20px;
  padding-bottom: 10px;
}

.blog-container-text .blog-video {
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog-article-outro p span {
  font-weight: 600;
}

.blog-article-outro .column .blog-profile .column{
  flex: 50%;
  width: 100%;
}

.blog-article-footer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-bottom: 20px;
  margin-top: 100px;

}

.blog-article-footer p {
  font-size: 20px;
  margin-top: 0;
  padding-top: 0;

}

.blog-article-footer h2 {
  color: #1F4D7A;

}

.blog-article-footer .row {
  max-width: 420px;
  margin: auto;
  justify-content: space-around;

}

.blog-article-footer .column{
  flex: 50%;
  width: 100%;
}


.blog-article-footer .button-large-white {
  border-width: 1px;
  border-style: solid;
  border-color: #b2b2b2;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  background-color: white;

}

.blog-article-footer .button-large-white:hover {
  background-color: #3e80c2;

}



.circular-portrait {
  position: relative;
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
  border-radius: 50%;

  display: inline-block;

  vertical-align: middle;
  background-color: #fafafa;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); 
}


.circular-portrait img {
  display: inline;
  margin: -15% auto;
  height: auto;
  width: 70%;
}


@media only screen and (min-width: 600px) {
  .blog-column {
    width: 50%;
  }
  .blog-title h1{
    margin-top: 20%;
    margin-bottom: 70px;
  }
}

@media only screen and (min-width: 900px) {
  .blog-column {
    width: 50%;
  }
  .blog-title h1{
    margin-top: 15%;
    margin-bottom: 70px;
  }
  
}

#portfolio .blog-btn {
  border: none;
  outline: none;
  padding: 12px 10px;
  background-color:inherit;
  cursor: pointer;
  border-radius: 10px;
  margin: 0;
  color: white;
}

/* Add a grey background color on mouse-over */
#portfolio .blog-btn:hover {
  background-color: #ddd;
  color: black;
}

/* Add a dark background color to the active button */
#portfolio .blog-btn.active {
  background-color: #3e80c2;
   color: white;
}

#portfolio .blog-button-list {
text-align: center;
border-radius: 5px;
background-color: inherit;
width: 1000px;
max-width: 90%;
margin: 0 auto;
padding: 0;
margin-bottom: 50px;
}





