/*  1. Basic  ------------------------------------------------------- */





/*  5. Images  --------------------------------------------------------- */

img {
    max-width: 100%;
    height: auto;
 }
 img.pull-right { margin: 12px 0px 0px 18px; }
 img.pull-left { margin: 12px 18px 0px 0px; }

/* default
--------------------------------------------------------------- */
.row-port {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
 }
 /* fixed width for IE8 */
 .ie .row-port { width: 1000px ; }
 
 .narrow .row-port { max-width: 980px; }
 
 .row-port .row-port { width: auto; max-width: none; margin: 0 -20px; }
 
 /* row clearing */
 .row-port:before,
 .row-port:after {
     content: " ";
     display: table;
 }
 .row-port:after {
     clear: both;
 }
 
.columns {
    position: relative;
    padding: 0 0px;
    min-height: 1px;
    float: left;  
}

.mcfilter {
   display: none;
   float: left;
}

.column.centered, .columns.centered  {
     float: none;
     margin: 0 auto;
 }
 
 /* removed gutters */
 .row-port.collapsed > .column,
 .row-port.collapsed > .columns,
 .column.collapsed, .columns.collapsed  { padding: 0; }
 
 [class*="column"] + [class*="column"]:last-child { float: right; }
 [class*="column"] + [class*="column"].end { float: right; }
 
 /* column widths */
 .row-port .one         { width: 8.33333%; }
 .row-port .two         { width: 16.66667%; }
 .row-port .three       { width: 25%; }
 .row-port .four        { width: 33.33333%; }
 .row-port .five        { width: 41.66667%; }
 .row-port .six         { width: 50%; }
 .row-port .seven       { width: 58.33333%; }
 .row-port .eight       { width: 66.66667%; }
 .row-port .nine        { width: 75%; }
 .row-port .ten         { width: 83.33333%; }
 .row-port .eleven      { width: 91.66667%; }
 .row-port .twelve      { width: 100%; }
 
 /* Offsets */
 .row-port .offset-1    { margin-left: 8.33333%; }
 .row-port .offset-2    { margin-left: 16.66667%; }
 .row-port .offset-3    { margin-left: 25%; }
 .row-port .offset-4    { margin-left: 33.33333%; }
 .row-port .offset-5    { margin-left: 41.66667%; }
 .row-port .offset-6    { margin-left: 50%; }
 .row-port .offset-7    { margin-left: 58.33333%; }
 .row-port .offset-8    { margin-left: 66.66667%; }
 .row-port .offset-9    { margin-left: 75%; }
 .row-port .offset-10   { margin-left: 83.33333%; }
 .row-port .offset-11   { margin-left: 91.66667%; }
 
 /* Push/Pull */
 .row-port .push-1      { left: 8.33333%; }
 .row-port .pull-1      { right: 8.33333%; }
 .row-port .push-2      { left: 16.66667%; 	}
 .row-port .pull-2      { right: 16.66667%; }
 .row-port .push-3      { left: 25%; }
 .row-port .pull-3      { right: 25%;	}
 .row-port .push-4      { left: 33.33333%; }
 .row-port .pull-4      { right: 33.33333%; }
 .row-port .push-5      { left: 41.66667%; }
 .row-port .pull-5      { right: 41.66667%; }
 .row-port .push-6      { left: 50%; }
 .row-port .pull-6      { right: 50%; }
 .row-port .push-7      { left: 58.33333%; }
 .row-port .pull-7      { right: 58.33333%; }
 .row-port .push-8      { left: 66.66667%; 	}
 .row-port .pull-8      { right: 66.66667%; }
 .row-port .push-9      { left: 75%; }
 .row-port .pull-9      { right: 75%; }
 .row-port .push-10     { left: 83.33333%; }
 .row-port .pull-10     { right: 83.33333%; }
 .row-port .push-11     { left: 91.66667%; }
 .row-port .pull-11     { right: 91.66667%; }
 
 /* block grids
 --------------------------------------------------------------------- */
 .bgrid-sixths [class*="column"]   { width: 16.66667%; }
 .bgrid-quarters [class*="column"] { width: 25%; }
 .bgrid-thirds [class*="column"]   { width: 33.33333%; }
 .bgrid-halves [class*="column"]   { width: 50%; }
 
 [class*="bgrid"] [class*="column"] + [class*="column"]:last-child { float: left; }
 
 /* Left clearing for block grid columns - columns that changes width in
 different screen sizes. Allows columns with different heights to align
 properly.
 --------------------------------------------------------------------- */
 .first { clear: left; }   /* first column in default screen */
 .s-first { clear: none; } /* first column in smaller screens */
 
 /* smaller screens
 --------------------------------------------------------------- */
 @media only screen and (max-width: 900px) {
 
    /* block grids on small screens */
    .s-bgrid-sixths [class*="column"]   { width: 16.66667%; }
    .s-bgrid-quarters [class*="column"] { width: 25%; }
    .s-bgrid-thirds [class*="column"]   { width: 33.33333%; }
    .s-bgrid-halves [class*="column"]   { width: 50%; }
 
    /* block grids left clearing */
    .first { clear: none; }
    .s-first { clear: left; }
 
 }
 
 /* mobile wide/smaller tablets
 --------------------------------------------------------------- */
 @media only screen and (max-width: 960px) {
 
    .row-port {
        width: 100%;
        margin: 0;
       padding: 0;
     }
    .column, .columns {
        width: 100% !important;
        float: none;
        margin-left: 0;
        margin-right: 0;
       padding: 0;
    }
    .row-port .row-port { width: 100%; max-width: none; margin: 0 -30px; }
 
    [class*="column"] + [class*="column"]:last-child { float: none; }
    [class*="bgrid"] [class*="column"] + [class*="column"]:last-child { float: none; }
 
    /* Offsets */
    .row-port .offset-1    { margin-left: 0%; }
    .row-port .offset-2    { margin-left: 0%; }
    .row-port .offset-3    { margin-left: 0%; }
    .row-port .offset-4    { margin-left: 0%; }
    .row-port .offset-5    { margin-left: 0%; }
    .row-port .offset-6    { margin-left: 0%; }
    .row-port .offset-7    { margin-left: 0%; }
    .row-port .offset-8    { margin-left: 0%; }
    .row-port .offset-9    { margin-left: 0%; }
    .row-port .offset-10   { margin-left: 0%; }
    .row-port .offset-11   { margin-left: 0%; }
 }
 
 /* mobile narrow
 --------------------------------------------------------------- */
 @media only screen and (max-width: 460px) {
 
    .row-port { width: 100%; }
 
 }
 
 /* larger screens
 --------------------------------------------------------------- */
 @media screen and (min-width: 1200px) {
 
    .wide .row-port { max-width: 1180px; }
 
 }
 
 /* ------------------------------------------------------------------ */
 /* e. Others
 /* ------------------------------------------------------------------ */
 
 /*  1. Clearing
     (http://nicolasgallagher.com/micro-clearfix-hack/
 --------------------------------------------------------------------- */
 
 .cf:before,
 .cf:after {
     content: " ";
 }
 .cf:after {
     clear: both;
 }



/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
    margin-top: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
 }
 #portfolio h1 {
    font: 5em 'Inter', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    margin-top: 0;
 }
 
 /* Portfolio Content */
 #portfolio-wrapper .columns { margin-bottom: 36px; }
 .portfolio-item .item-wrap {
    overflow: hidden;
    position: relative;
    margin-right: 50px;
    margin-left: 50px;
    
   
 
    -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
 }


 .portfolio-item .item-wrap a {
    cursor: pointer;
 }
 
 /* overlay */
 .portfolio-item .item-wrap .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
 
     opacity: 0;
     -moz-opacity: 0;
     filter:alpha(opacity=0);
 
    -webkit-transition: opacity 0.3s ease-in-out;
     -moz-transition: opacity 0.3s ease-in-out;
     -o-transition: opacity 0.3s ease-in-out;
     transition: opacity 0.3s ease-in-out;
 
 }
 .portfolio-item .item-wrap .link-icon {
    color: #fff;
    height: 30px;
    width: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
 
    opacity: 0;
     -moz-opacity: 0;
     filter:alpha(opacity=0);
 
    -webkit-transition: opacity 0.3s ease-in-out;
     -moz-transition: opacity 0.3s ease-in-out;
     -o-transition: opacity 0.3s ease-in-out;
     transition: opacity 0.3s ease-in-out;
 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
 }

 .icon-plus {
    display: block;
    width: 30px;
    padding-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
}

 .portfolio-item .item-wrap img {
    vertical-align: bottom;
 }
 .portfolio-item .portfolio-item-meta { padding: 18px }
 .portfolio-item .portfolio-item-meta h5 {
    font: 18px 'opensans-bold', sans-serif;
    color: #fff;
 }
 .portfolio-item .portfolio-item-meta p {
    font: 15px 'opensans-light', sans-serif;
    color: #c6c7c7;
    margin-bottom: 0;
 }
 
 /* on hover */
 .portfolio-item:hover .overlay {
     opacity: 1;
     -moz-opacity: 1;
     filter:alpha(opacity=100);
     background-color: rgba(0, 0, 0, 0.5);
 }
 .portfolio-item:hover .link-icon {
    opacity: 1;
     -moz-opacity: 1;
     filter:alpha(opacity=100);
 }

 
.portfolio-item:hover .item-wrap img {

   -webkit-transform: scale(1.08);
   transform: scale(1.08);
 }
 
 .item-wrap img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
 }
 
 /* popup modal */
 .popup-modal {
     max-height: 75%;
     max-width: 75%;
     background: #fff;
     position: relative;
     margin: 0 auto;
 }
 .popup-modal .description-box { padding: 12px 36px 18px 36px; }
 .popup-modal .description-box h4 {
    font: 15px/24px 'opensans-bold', sans-serif;
     margin-bottom: 12px;
    color: #111;
 }
 .popup-modal .description-box p {
     font: 14px/24px 'opensans-regular', sans-serif;
    color: #A1A1A1;
    margin-bottom: 12px;
 }
 .popup-modal .description-box .categories {
    font: 11px/21px 'opensans-light', sans-serif;
    color: #A1A1A1;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
 }

 .categories img {
    height: 11px;
    opacity: 50%;
    padding-right: 7px;
 }

 .popup-modal .description-box .categories i {
    margin-right: 8px;
 }
 .popup-modal .link-box {
    padding: 18px 36px;
    background: #111;
    text-align: left;
 }
 .popup-modal .link-box a {
    color: #fff;
     font: 11px/21px 'opensans-bold', sans-serif;
     text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
 }
 .popup-modal a:hover {	color: #00CCCC; }
 .popup-modal a.popup-modal-dismiss { margin-left: 24px; }
 
 
 /* fadein/fadeout effect for modal popup
 /* ------------------------------------------------------------------ */
 
 /* content at start */
 .mfp-fade.mfp-wrap .mfp-content .popup-modal {
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
     -moz-transition: all 200ms ease-in-out;
     -o-transition: all 200ms ease-in-out;
     -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
 }
 /* content fadein */
 .mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
    opacity: 1;
 }
 /* content fadeout */
 .mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
    opacity: 0;
 }
 